
.messages
  != message

header.main
  .container
    .twelve.columns
      h1.capitalize
        a(href='/')= meta.name
    .four.columns.aright
      block nav
        if typeof(pages) !== 'undefined'
          each page in pages
            if page.inMenu
              a.button(href=page.path, title=page.title)= page.title

