
.messages
  != message

header.main
  .container
    .twelve.columns
      h1.capitalize
        a(href='/')= meta.name
    .four.columns.aright
      block nav
        if session.user.isPublisher
          a(href='/new/', title=_.t('Add page'))
            span.iconic.document
        if typeof(pages) !== 'undefined'
          each page in pages
            if page.inMenu
              path = page.frontpage ? '/' : page.path
              a.button(href=path, title=page.title)= page.title

