doctype 5
html
  block head
    head
      meta(charset='utf-8')
      title= title
      each key in ['author', 'description', 'keywords']
        meta(name=key, content=meta[key])
      meta(name='viewport', content='width=device-width')
      link(rel='stylesheet', href='/css/iconic.css')
      link(rel='stylesheet', href='/css/skeleton.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='http://yandex.st/highlightjs/7.3/styles/github.min.css')
      script(src='http://yandex.st/highlightjs/7.3/highlight.min.js')
  body

    #wrap

      block header
        include header

      block content

    block footer
      include footer

