body {
  background: #ccc;
  color: #666;
}
a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #111;
}
.aleft {
  text-align: left;
}
.acenter {
  text-align: center;
}
.aright {
  text-align: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.capitalize {
  text-transform: capitalize;
}
.iconic {
  font-size: 1.7em;
  vertical-align: middle;
}
span.iconic {
  margin-right: 3px;
  position: relative;
  top: 1px;
  ((null)): 0;
}
#wrap {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f5f5f5), color-stop(1, #f0f0f0));
  background: -webkit-linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%);
  background: -o-linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%);
  background: linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4), inset 0 -1px 0 #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4), inset 0 -1px 0 #fff;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}
#iconic .iconic {
  margin: 10px auto;
  position: relative;
  text-align: center;
}
#iconic .iconic:hover {
  font-size: 2.5em;
}
#iconic .iconic:hover:after {
  position: absolute;
  top: -5px;
  left: 40px;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  content: attr(data-icon);
  display: block;
  font: 12px helvetica;
  padding: 5px;
  text-align: center;
  width: 60px;
  z-index: 2;
}
.stealth {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.edit {
  position: relative;
  top: 1.1em;
  ((null)): 0;
}
.table {
  background: #fff;
}
.table .edit {
  position: absolute;
  top: 0;
  left: -40px;
  padding: 8px;
}
.table th {
  font-weight: bold;
}
.table td,
.table th {
  border-top: #ddd solid 1px;
  padding: 8px;
  position: relative;
  text-align: left;
}
.table.fixed {
  table-layout: fixed;
  width: 100%;
}
.table.bordered {
  border-color: #ddd;
  border-collapse: separate;
  border-style: solid;
  border-width: 0 1px 1px 0;
}
.table.bordered td,
.table.bordered th {
  border-left: #ddd solid 1px;
}
.messages {
  position: fixed;
  bottom: 100px;
  left: 100px;
  z-index: 10;
}
.photo {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: 3px;
}
.stack span {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.stack span:hover {
  color: #000;
}
.msg {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 15px 10px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.4);
  box-shadow: inset 0 15px 10px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.4);
  color: #fff;
  display: inline-block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 8px 16px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.msg.is-hidden {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.success {
  background: #2db373;
  border: 1px solid #19613f solid 1px;
}
.error {
  background: #ea3232;
  border: 1px solid #a51111 solid 1px;
}
header.main {
  padding: 60px 0;
}
header.main .button {
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header.main a:first-letter {
  text-transform: uppercase;
}
article {
  padding-bottom: 60px;
  position: relative;
}
article .clock {
  margin-left: 5px;
}
article .pencil {
  position: absolute;
  left: -50px;
  ((null)): 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
article time {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
article:hover .iconic {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article:hover time {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(1, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  color: #999;
  padding: 30px 0;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
}
footer a {
  color: inherit !important;
}
pre code {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
