
extends ../layout

block content
  .container
    if session.user.isPublisher
      .sixteen.columns
        a(href=page.path + '/articles/new/', title=_.t('Add article'))
          span.iconic.article
        hr

    if !page
      .sixteen.columns
        h3 You need to create a page.

    else if page.articles.length
      each article in page.articles
        include show

