
article.columns(class=article.columns)
  header
    time(datetime=moment(article.published).format('YYYY-MM-DD'))
      != moment(article.published).fromNow()
      span.iconic.clock
    if session.user.isEditor
      a.edit(href=page.path + article.path + '/edit/', title=_.t('Edit article'))
        .iconic.pencil

  != article.html

