
article.columns(class=article.columns)
  header
    time(pubdate datetime=moment(article.date).format('YYYY-MM-DD'))
      != moment(article.date).fromNow()
      span.iconic.clock
    if session.user.isEditor
      a.edit(href=page.path + article.path + 'edit/', title=_.t('Edit article'))
        .iconic.pencil

  != article.html

